:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.wrapper {
    width: 100%;
    padding: 1rem;
}

mat-form-field {
    display: block;
    margin-bottom: 0;
}

mat-form-field {
    padding: 1rem;
}

.bolder {
    font-weight: 600;
}

.confirm {
    margin: 1.5rem;
}