<div class="wrapper">
  <div class="header">
    <h2 class="title">Gestao de Contas Bancárias</h2>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">home</mat-icon>
          Principal
        </ng-template>
        <router-outlet></router-outlet>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">change_history</mat-icon>
          Observacoes
        </ng-template>
        <div class="observations mt-4 mx-4">
          <h4>Observações:</h4>
          <p>Utilizei uma API fictícia para testes.</p>
          <p>Não consegui completar todos os requisitos devido a limitações como mal-estar durante o desenvolvimento do projeto .</p>
          <!-- Adicione mais observações conforme necessário -->
        </div>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">help</mat-icon>
          Ajuda
        </ng-template>


        <div class="h-container mt-3">
          <h2>Aba de Ajuda - Informações sobre o Projeto</h2>

          <div class="row mt-3">
            <div class="col-md-12 h-item">
              <h4>O que é este projeto?</h4>
              <p>Este projeto é uma aplicação de gestão de contas bancárias virtuais. Permite depósitos, levantamentos,
                transferências, solicitações de reembolso e muito mais.</p>
            </div>
            <mat-divider></mat-divider>
            <div class="col-md-12 h-item">
              <h4>Como usar</h4>
              <p>Para começar, preencha os passos necessários na interface. Certifique-se de fornecer informações
                válidas e utilize as opções disponíveis conforme necessário.</p>
            </div>
            <mat-divider></mat-divider>
            <div class="col-md-12 h-item">
              <h4>Ajuda Adicional</h4>
              <p>Se precisar de mais ajuda ou tiver dúvidas específicas, consulte a seção de ajuda ou entre em contato
                conosco através dos meios fornecidos no projeto.</p>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>

    <!-- 
            <h3 class="date">HOJE, 3 JANEIRO 2024</h3>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-3">DESCRIPTIVO</div>
                        <div class="col-md-2">MONTANTE</div>
                        <div class="col-md-2">SALDO APÓS MOVIMENTO</div>
                        <div class="col-md-2">DATA VALOR</div>
                        <div class="col-md-1">...</div>
                    </div>
           -->
  </div>
</div>