<div class="wrapper">
    <div class="options">
        <a routerLink="/balance" class="option">
            <span class="icon"><mat-icon class="example-tab-icon">account_balance</mat-icon></span>
            <span class="item-title">Consultar Saldo</span>
        </a>
        <a routerLink="/transaction-history" class="option">
            <span class="icon"><mat-icon class="example-tab-icon">history</mat-icon></span>
            <span class="item-title">Ver historico</span>
        </a>
        <a routerLink="/withdrawal" class="option">
            <span class="icon">
                <mat-icon class="example-tab-icon">attach_money</mat-icon>
            </span>
            <span class="item-title">Levantamento</span>
        </a>
        <a routerLink="/transfer" class="option">
            <span class="icon">
                <mat-icon class="example-tab-icon">compare_arrows</mat-icon>
            </span>
            <span class="item-title">Transferir Dinheiro</span>
        </a>
        <a routerLink="/refund" class="option">
            <span class="icon">
                <mat-icon class="example-tab-icon">undo</mat-icon>
            </span>
            <span class="item-title">Reembolso</span>
        </a>
        <a routerLink="/deposit" class="option">
            <span class="icon">
                <mat-icon class="example-tab-icon">queue</mat-icon>
            </span>
            <span class="item-title">Depositar</span>
        </a>
    </div>
    <div class="right-side d-flex align-items-center justify-content-center">
        <div class="bank-img">
            <img width="100%" height="100%" src="assets/img/online-bank.png"  alt="">
        </div>
    </div>
</div>