<div class="wrapper">
    <div class="withdrawal">
        <div class="d-flex justify-content-between my-2 mb-0 mx-4">
            <app-go-back></app-go-back>    
            <h3>Levantamento</h3>
        </div>

        <mat-stepper linear #stepper>
            <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">
                <form [formGroup]="firstFormGroup">
                    <ng-template matStepLabel>Insira a quantidade</ng-template>
                    <mat-form-field floatLabel="always">
                        <mat-label>Quantidade a levantar</mat-label>
                        <input matInput formControlName="firstCtrl" type="number" class="example-right-align"
                            placeholder="0" required />
                        <span matTextPrefix>KZ&nbsp;</span>
                        <span matTextSuffix>.00</span>
                        <mat-error *ngIf="firstFormGroup.get('firstCtrl')?.hasError('required')">
                            O campo é obrigatório.
                        </mat-error>
                        <mat-error *ngIf="firstFormGroup.get('firstCtrl')?.hasError('min')">
                            O valor mínimo é 500.
                        </mat-error>
                        <mat-error *ngIf="firstFormGroup.get('firstCtrl')?.hasError('max')">
                            O valor máximo é 100000.
                        </mat-error>
                    </mat-form-field>
                    <div>
                        <button mat-button matStepperNext>Próximo</button>
                    </div>
                </form>


            </mat-step>
            <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">
                <form [formGroup]="secondFormGroup">
                    <ng-template matStepLabel>Confirmação</ng-template>
                    <div class="confirm">
                        <p>Confirma o levantamento de: <span class="bolder">{{ firstFormGroup.get('firstCtrl')?.value
                                }}</span></p> KZ
                    </div>
                    <mat-form-field>
                        <mat-label>Insira o codigo</mat-label>
                        <input matInput type="number" formControlName="secondCtrl" placeholder="Codigo" required>
                    </mat-form-field>
                    <div>
                        <button mat-button matStepperPrevious>Voltar</button>
                        <button mat-button matStepperNext>Próximo</button>
                    </div>
                </form>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Concluído</ng-template>
                <div class="alert alert-success">
                    <p>O seu pedido foi processado com sucesso.</p>
                </div>
                <div>
                    <a routerLink="/home" mat-button>
                        <button mat-flat-button color="primary">
                            Voltar Inicio
                        </button>
                    </a>
                    <!-- <button mat-button matStepperPrevious>Okay</button> -->
                    <!-- <button mat-button (click)="stepper.reset()">Resetar</button> -->
                </div>
            </mat-step>
        </mat-stepper>
    </div>

</div>